body{
  margin: 0px;
  padding: 0px;
  background-color: #ffffcc;
}

.fa {
  padding: 30px;
  font-size: 30px;
  width: 30px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  float: right;
  margin-top: 100px;
  margin-left: 30px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #bb0000;
  color: white;
}
.fa:hover {
    opacity: 0.7;
}
.logo{
padding: 0px;
width: 80px;
float: left;
margin-top: 5px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  margin-top: -60px;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #2196F3;
  color: white;
}
.topnav #login {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav #login:hover {
  background-color: #ddd;
  color: black;
}
.topnav #login.active {
  background-color: #2196F3;
  color: white;
}
.topnav .search-container {
  float: right;
}
.topnav input[type=text] {
  width: 500px;
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 700px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
.panel {
  border-style:solid;
  border-width: 2px;
  background-color: white;
  justify-content:center;
  margin-top: -300px;
  margin-left: 25%;
  margin-right: 25%;


}
.peli{
  padding: 10px;
  height: 300px;
}
.movie{
  margin: 30px;
  margin-right: 50px;
  display: inline-block;

}
.titol{
  font-family:monospace;
  text-align: center;
}
.index{
  background-color: white;
  justify-content: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  display: flex;
  width: 200px;
  margin-left: 280px;
  margin-top: 0px;
  display: flex;
}
.indexinici{
  background-color: white;
  justify-content: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  display: flex;
  width: 200px;
  margin-left: 280px;
  margin-top: 60px;
  display: flex;
}

.index a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: blue;
  transition: 0.3s;
}

.index a:hover {
  color: black;
}
.indexinici a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: blue;
  transition: 0.3s;
}

.indexinici a:hover {
  color: black;
}
